{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <ul class="menu">
        <li><a href="{{ path('app_github_user_index') }}">Watched users</a></li>
        <li><a href="{{ path('app_github_user_repo_index') }}">Watched users repos</a></li>
    </ul>
{% endblock %}
